@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>General Store</h1>
        <p class="lead">Welcome to our General Store! Buy stuff at great low prices every single day! This is Red Badge Walkthrough exercise at Eleven Fifty Academy.</p>
        @Html.ActionLink("Learn More About Us", "About")
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Check out our customer list?</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get In Touch</h2>
        <p>Click here to contact the owners of General Store with any comments or concerns.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>